fastapi==0.117.1
uvicorn==0.36.0
xgboost==3.0.5
pulp==3.3.0
pandas==2.3.2
numpy==2.3.3
scikit-learn==1.7.2
pydantic==2.11.9
python-multipart==0.0.20
matplotlib==3.10.6
seaborn==0.13.2
plotly==6.3.0
joblib==1.5.2